---

---

<section class='relative overflow-hidden hero-section'>
  <div class='container-custom relative z-10'>
    <div
      class='min-h-screen flex justify-center items-center text-center px-10'
    >
      <div class='slide-up' transition:animate='slide'>
        <h1 class='mb-2 text-white dark:text-white leading-tight text-5xl'>
          <span class='text-white dark:text-primary-400'
            >Sri Lanka's <span class='text-red-500'>No.1 </span> PP manufacturer
            company.</span
          >
        </h1>
        <p class='text-xl text-[#dedede] dark:text-secondary-300 mb-8'>
          Delivering top-quality polypropylene solutions with cutting-edge
          technology and a commitment to sustainability, trusted by industries
          across Sri Lanka.
        </p>
        <div class='flex flex-wrap gap-4 items-center justify-center'>
          <a href='/contact' class='btn bg-blue-950 text-white'> Contact us </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Teal section at the bottom with Trusted By -->
<!-- <div class="mt-10 w-full overflow-hidden -z-10" transition:animate="slide">
    <div class="relative bg-teal-400 dark:bg-teal-500 py-12 md:py-16">
      <div class="container-custom">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div>
            <div class="text-3xl md:text-4xl font-bold text-black dark:text-black">
              Next <span class="bg-accent-400 px-2 py-1">generation</span> SasS template for your bussiness.
            </div>
          </div>

          <div class="flex flex-col items-start md:items-end justify-center">
            <p class="text-sm uppercase tracking-wider text-teal-800 dark:text-teal-800 font-medium mb-4">TRUSTED BY</p>
            <div class="flex flex-wrap justify-start md:justify-end gap-x-8 gap-y-4">
              <div class="h-8 flex items-center">
                <span class="text-black dark:text-black font-medium">Google</span>
              </div>
              <div class="h-8 flex items-center">
                <span class="text-black dark:text-black font-medium">Apple</span>
              </div>
              <div class="h-8 flex items-center">
                <span class="text-black dark:text-black font-medium">Beebole</span>
              </div>
              <div class="h-8 flex items-center">
                <span class="text-black dark:text-black font-medium">Deliverect</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<style>
  /* Add keyframes for additional animations if needed */
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  /* Apply floating animation to the entire SVG container */
  .fade-in svg {
    animation: float 6s ease-in-out infinite;
  }
</style>
