---
import pic6 from '../assets/social.jpg';
---

<section class='py-4 bg-blue-50 dark:bg-gray-800 min-h-screen'>
  <div class='container-custom'>
    <div class='dark:border-gray-700 pt-16'>
      <div class='grid md:grid-cols-2 gap-24 items-center'>
        <div class='flex flex-col'>
          <h2
            class='text-3xl font-bold text-gray-900 dark:text-white pb-10 text-center md:text-left'
          >
            Social Responsibilities
          </h2>
          <div class='space-y-8 mb-8 flex flex-col gap-8'>
            <div class='flex justify-center flex-col items-center md:flex-row'>
              <div>
                <svg
                  class='w-30 h-30 text-green-800 mr-3'
                  aria-hidden='true'
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  fill='none'
                  viewBox='0 0 24 24'
                >
                  <path
                    stroke='currentColor'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    stroke-width='2'
                    d='M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z'
                  ></path>
                </svg>
              </div>
              <div
                class='dark:text-gray-300 font-semibold text-center md:text-left'
              >
                Secure authentication <br />
                <span class='font-light text-sm'
                  >Our comprehensive API allows you to build custom integrations
                  and extend Sassify's functionality to meet your specific
                  needs. With detailed documentation and developer support, you
                  can create seamless connections between Sassify and your
                  internal tools.</span
                >
                <br />
              </div>
            </div>

            <div class='flex justify-center flex-col items-center md:flex-row'>
              <div>
                <svg
                  class='w-30 h-30 text-green-800 mr-3'
                  aria-hidden='true'
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  fill='none'
                  viewBox='0 0 24 24'
                >
                  <path
                    stroke='currentColor'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    stroke-width='2'
                    d='M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z'
                  ></path>
                </svg>
              </div>
              <div
                class='dark:text-gray-300 font-semibold text-center md:text-left'
              >
                Secure authentication <br />
                <span class='font-light text-sm'
                  >Our comprehensive API allows you to build custom integrations
                  and extend Sassify's functionality to meet your specific
                  needs. With detailed documentation and developer support, you
                  can create seamless connections between Sassify and your
                  internal tools.</span
                >
                <br />
              </div>
            </div>

            <div class='flex justify-center flex-col items-center md:flex-row'>
              <div>
                <div>
                  <svg
                    class='w-30 h-30 text-green-800 mr-3'
                    aria-hidden='true'
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    fill='none'
                    viewBox='0 0 24 24'
                  >
                    <path
                      stroke='currentColor'
                      stroke-linecap='round'
                      stroke-linejoin='round'
                      stroke-width='2'
                      d='M8.891 15.107 15.11 8.89m-5.183-.52h.01m3.089 7.254h.01M14.08 3.902a2.849 2.849 0 0 0 2.176.902 2.845 2.845 0 0 1 2.94 2.94 2.849 2.849 0 0 0 .901 2.176 2.847 2.847 0 0 1 0 4.16 2.848 2.848 0 0 0-.901 2.175 2.843 2.843 0 0 1-2.94 2.94 2.848 2.848 0 0 0-2.176.902 2.847 2.847 0 0 1-4.16 0 2.85 2.85 0 0 0-2.176-.902 2.845 2.845 0 0 1-2.94-2.94 2.848 2.848 0 0 0-.901-2.176 2.848 2.848 0 0 1 0-4.16 2.849 2.849 0 0 0 .901-2.176 2.845 2.845 0 0 1 2.941-2.94 2.849 2.849 0 0 0 2.176-.901 2.847 2.847 0 0 1 4.159 0Z'
                    ></path>
                  </svg>
                </div>
              </div>
              <div
                class='dark:text-gray-300 font-semibold text-center md:text-left'
              >
                Secure authentication <br />
                <span class='font-light text-sm'
                  >Our comprehensive API allows you to build custom integrations
                  and extend Sassify's functionality to meet your specific
                  needs. With detailed documentation and developer support, you
                  can create seamless connections between Sassify and your
                  internal tools.</span
                >
                <br />
              </div>
            </div>
          </div>
        </div>
        <div class='rounded-lg overflow-hidden shadow-xl hidden md:block'>
          <img src={pic6.src} alt='' />
        </div>
      </div>
    </div>
  </div>
</section>
